
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

#menuButton {
    position: absolute;
    padding: 1em;
    font-size: 1.5em;
    cursor: pointer;
}

.mainHeader {
    height: 400px;
    width: 100%;
    background-color: coral;
}

.mainHeader .container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

#mainTitle {
    margin: 0 ;
}

#firstSectionTitle {
    text-align: center;
}

#sideNav {
    display: none;
    -webkit-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

#tabSection {
    max-width: 800px;
    margin: 0 auto;
}


#navList {
    list-style: none;
    padding: 1em;
}

.tabs {
    text-align: center;
    padding: 0;
    display: block;
} 
.tab-contents li {
        padding: 2em;
        display: none;
        -webkit-transition: opacity .3s ease;
        transition: opacity .3s ease;
        pointer-events: none;
}

.tab-contents li.visible {
        display: block;
        pointer-events: auto;
}

.tab-contents {
       text-align: center;
} 
      
.pic-gallery {
    height: 200px;
    /* background-image: url(images/meeting-chairs.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.pic-gallery img {
    height: 200px;
}

#lightbox-overlay {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(29, 31, 33, .95);
    transition: opacity .3s ease-in;
}

    #lightbox-overlay.visibleb {
        opacity: 1;
        pointer-events: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

#lightbox-image {
    max-height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    background: transparent url("images/loading.gif") 50% 50% no-repeat;
    text-indent: -99999px;
}